<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All the Flats: (<%= Flat.count %>)</h1>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <p class="card-text">
            <%= flat.number_of_guests %> <i class="fa-solid fa-person-circle-check"></i>
            <%= flat.price_per_night %> <i class="fa-regular fa-circle-euro"></i>
          </p>
          <hr>
          <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat) %>
            <%= link_to "Remove", flat_path(flat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>








</div>
